#box{
	position: relative;
	display: inline-block;
	margin: 0px;
	width:60%;
	height:900px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-left:400px;
	margin-top:25px;
	margin-bottom: 25px;

}
.subTitle{
	padding-top: 3px;
	padding-left: 20px;
	color:#0088A8;
	background-color:#DDDDDD;
	height: 30px;
	width:auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid gray;
}
.paragram{
	margin-top:10px;
	margin-left: 15px; 
	font-size: 20px;
}
#chartBox{
	margin-top:10px;
	height:65%;
	width: 100%;
}
.chart{
	float: left;
	height:100%;
	width: 50%;
}

.loseWeight{
	margin-left: 15px;
	margin-top: 70px;
}

td.tableContent{
	width: 35%;
	border: 1px solid black;
	background-color: #f2faca;
	color:#0066cc;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}
input{
	line-height: 50px;
}