html,body{
	height: 100%;
}
.table tbody>tr>td.vert-align{
     vertical-align: middle;
     font-family: "Times New Roman";
}
td {
	text-align: center;
	font-size: 30px;

}
.tableBox{
	height: 900px;
	width: auto;
	margin-left:300px;
	margin-top:25px;
	margin-bottom: 25px;
}

.foodImg{
	height: 150px;
	width: 150px;
}