.menu{
	background-color: #E0E0E0;
	width: 300px;
	height:100vh;
	float: left;
}

.menuUl{
	background-color: #E0E0E0;
	margin: 0;
	margin-left: 5px;
	width: 250px;
	text-align: center;
	list-style-type: none;
}

.liTitle{
	background: linear-gradient(to right,#000079, #2894FF);	
	color: white;

}

li{
	background-color: white;
	font-family:"微軟正黑體";
	font-size: 18px;
	list-style-position:inside;
    border-bottom: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
	padding-top: 6px;
	height: 40px; 
	cursor: pointer;
	cursor: hand;
}


