.menu{
	position: absolute;
	display: block;
	left: 0px;
	background-color: #77b0dd;
	width: 300px;
	height:100vh;
}

.menuUl{
	margin: 0;
	width: 100%;
	text-align: center;
	list-style-type: none;
	padding: 0;
}

.liTitle{
	color: white;
	background-color: #286090;
}
.iClass{
	
}

.fitness{

}

li{
	font-family:"微軟正黑體";
	font-size: 28px;
	list-style-position:inside;
	padding-top: 6px;
	height: 40px; 
	cursor: pointer;
	cursor: hand;
	color: white;
}


