.tableBox{
	position: absolute;
	background-color: white;
	left:50%;
	top:50%;
	height:auto;
	width:900px ;
	margin-left:-450px; 
	margin-top:-260px;

}

tr{
	width: 100%;
	height:60px;   
}
td {
  vertical-align: middle;
  font-size: 20px;
}