/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
    background-color: #FF6864;
    color:white;
    height:10%;
    width: 100%;
    border:1px solid #FF6864;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.modal-body{
    height:auto;
    width: 100%; 
    border:1px solid gray;
    border-top:0;
    padding: 0px;
}

.modal-footer{
    height:10%;
    width: 100%; 
    border:1px solid gray;
    border-top:0;
}

.textBox{
    height: auto;
    width:25%;
    float:left;
    text-align: center;
    vertical-align: middle;
}

.suggestion{
    padding: 5px;
    height:20%;
    width:100%;
    font-size: 20px;
    font-family: Microsoft JhengHei;

}

